# MiniOS System Configuration

[system]
name = MiniOS
version = 1.0.0
hostname = minios
timezone = UTC

[kernel]
max_processes = 256
default_stack_size = 8192
scheduler_ticks = 100
enable_debug = true

[memory]
page_size = 4096
kernel_base = 0x100000
user_base = 0x400000
heap_size = 1048576

[filesystem]
max_files = 1024
max_filename = 255
max_path = 4096
cache_size = 16384

[network]
enable_networking = false
default_port = 8080

[users]
default_user = user
root_password = admin